<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/sign.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container">
        <div class="login-container border">
            <h2>Ninda</h2>
            <form action="/login" method="POST">
                <input id="email" class="login-context" type="text" name="email" placeholder="이메일"/>
                <input id="password" class="login-context" type="password" name="password" placeholder="비밀번호"/>
                <div class="login-button">
                    <input type="submit" class="btnSubmit" formaction="/login" formmethod="POST" value="로그인">
                </div>
            </form>
            <div class="login-button">
                <a href="/signup" class="btnForgetPwd">처음 방문하셨나요?</a>
            <div class="login-button">
                <a href="/newPassword" class="btnForgetPwd">비밀번호를 잊어버리셨나요?</a>
            </div>
            <div class="login-button">
                <a href="/oauth2/authorization/kakao">
                    <img class="img-fluid" src="/images/kakao_login_btn.png">
                </a>
            </div>
            <div class="login-button">
                <a href="/oauth2/authorization/google">
                    <img class="img-fluid" src="/images/google_login_btn.png">
                </a>
            </div>
        </div>
    </div>
</th:block>
</html>
