<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/sign.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 login-form-1">
                <h2>Kora에 가입하신 이메일을 입력해주세요</h2>
                <p>입력해주신 이메일로 임시비밀번호를 발송해드리겠습니다</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="이메일"/>
                    </div>
                </form>
                <input type="button" class="btnSubmit" id="btn-newPassword" value="임시비밀번호 발급">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <script src="/js/newPassword.js"></script>
</th:block>
</html>
