<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/sign.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container">
        <div class="login-container border">
            <h2>Kora에 가입하신<br>이메일을 입력해주세요</h2>
            <p style="font-size: 15pt;">입력해주신 이메일로 임시비밀번호를 발송해드리겠습니다</p>
            <form style="margin-bottom: 20px;">
                <input type="text" class="signup-context" id="email" placeholder="이메일"/>
            </form>
            <input type="button" style="width: 150px;" class="btnSubmit" id="btn-newPassword" value="임시비밀번호 발급">
        </div>
    </div>
    <script src="/js/newPassword.js"></script>
</th:block>
</html>
