<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/sign.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container">
        <div class="login-container border">
            <h2>닉네임을 입력해주세요.</h2>
            <form>
                <div class="signup-container my-2">
                    <label for="nickname">닉네임</label>
                    <input type="text" class="signup-context" id="nickname" placeholder="닉네임"/>
                    <span class="chk nickname_blank"><br><br></span>
                    <span class="chk nickname_check_success">사용가능한 닉네임입니다.</span>
                    <span class="chk nickname_check_fail">닉네임은 2~12자로 이루어져야 합니다.</span>
                </div>
            </form>
            <input type="button" class="btnSubmit" id="btn-signup" value="등록">
        </div>
    </div>
    <script src="/js/signup_oauth.js"></script>

</th:block>
</html>
