<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/gameList.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 10pt">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav justify-content">
                    <li class="nav-item left-tap">
                        <a style="padding-right:0" class="nav-link white">출시 예정작 제외</a>
                    </li>
                    <li class="nav-item left-tap">
                        <a style="padding-left:6px" class="nav-link white" th:if="${list.toString().equals('all')}" th:href="@{/games(page=0, size=12, sort='reLike,desc', sort='title', q=${q}, list='released')}">
                            <img src="/images/unchecked_box.png" height="14" weight="14">
                        </a>
                        <a style="padding-left:6px" class="nav-link white" th:unless="${list.toString().equals('all')}" th:href="@{/games(page=0, size=12, sort=${sort}, q=${q}, list='all')}">
                            <img src="/images/checked_box.png" height="14" weight="14">
                        </a>
                    </li>
                    <li class="nav-item right-tap">
                        <button form="search" class="btn btn-danger" type="submit">Search</button>
                    </li>
                    <li class="nav-item right-tap">
                        <form id="search" action="games">
                            <input class="form-control mr-sm-2" type="text" name="q" placeholder="제목으로 검색하기">
                            <input type="hidden" name="page" value="0">
                            <input type="hidden" name="size" value="12">
                            <input type="hidden" name="sort" value="title">
                            <input type="hidden" name="list" value="all">
                        </form>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{/games(page=0, size=12, sort='reLike,desc', sort='title', q=${q}, list=${list})}">추천순</a>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{/games(page=0, size=12, sort='viewCount,desc', sort='title', q=${q}, list=${list})}">인기순</a>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{/games(page=0, size=12, sort='releasedDate,desc', sort='title', q=${q}, list=${list})}">최신순</a>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{/games(page=0, size=12, sort='title', q=${q}, list=${list})}">이름순</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3" th:each="game: ${info.contents}">
                <div class="card mb-4">
                    <a th:href="@{'/games/' + ${game.id}}">
                        <img  class="card-img-top" th:src="${game.imgUrl}" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <nav aria-label="Page">
                    <ul class="pagination center">
                        <li th:if="${page > 4}" class="page-item">
                            <a class="page-link" th:href="@{/games(page=${((page / 5) * 5) - 1}, sort=${sort}, size=${size}, q=${q}, list=${list})}"><<</a>
                        </li>
                        <li th:classappend="${(page % 5) == 0} ? active" class="page-item">
                            <a class="page-link" th:href="@{/games(page=${(page / 5) * 5}, sort=${sort}, size=${size}, q=${q}, list=${list})}" th:text="${((page / 5) * 5) + 1}"></a>
                        </li>
                        <li th:classappend="${(page % 5) == 1} ? active" th:if="${(((page / 5) * 5) + 2) <= info.totalPages}" class="page-item">
                            <a class="page-link" th:href="@{/games(page=${((page / 5) * 5) + 1}, sort=${sort}, size=${size}, q=${q}, list=${list})}" th:text="${((page / 5) * 5) + 2}"></a>
                        </li>
                        <li th:classappend="${(page % 5) == 2} ? active" th:if="${(((page / 5) * 5) + 3) <= info.totalPages}" class="page-item">
                            <a class="page-link" th:href="@{/games(page=${((page / 5) * 5) + 2}, sort=${sort}, size=${size}, q=${q}, list=${list})}" th:text="${((page / 5) * 5) + 3}"></a>
                        </li>
                        <li th:classappend="${(page % 5) == 3} ? active" th:if="${(((page / 5) * 5) + 4) <= info.totalPages}" class="page-item">
                            <a class="page-link" th:href="@{/games(page=${((page / 5) * 5) + 3}, sort=${sort}, size=${size}, q=${q}, list=${list})}" th:text="${((page / 5) * 5) + 4}"></a>
                        </li>
                        <li th:classappend="${(page % 5) == 4} ? active" th:if="${(((page / 5) * 5) + 5) <= info.totalPages}" class="page-item">
                            <a class="page-link" th:href="@{/games(page=${((page / 5) * 5) + 4}, sort=${sort}, size=${size}, q=${q}, list=${list})}" th:text="${((page / 5) * 5) + 5}"></a>
                        </li>
                        <li th:if="${(page / 5) < ((info.totalPages - 1) / 5)}" class="page-item">
                            <a class="page-link" th:href="@{/games(page=${((page / 5) * 5) + 5}, sort=${sort}, size=${size}, q=${q}, list=${list})}">>></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</th:block>
</html>
