<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/game.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-top: 20pt">
            <div class="row">
                <div class="col-md-5">
                    <div class="container p-2 my-2 border">
                        <p class="title" th:text="${game.title}"></p>
                    </div>
                    <div class="container p-2 my-2 border">
                        <img class="imgSize" th:src="${game.imgUrl}">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container p-2 my-2 border">
                                <p th:text="'발매일: ' + ${game.releasedDate}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="container p-2 my-2 border">
                                <p th:text="'가격: ' + ${game.price}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container p-2 my-2 border">
                                <p th:text="'지원언어: ' + ${game.language}"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="container p-2 my-2 border">
                                <button th:onclick="'gameLikeUp()'" type="button" class="btn btn-success" id="btn-like" th:text="'추천 ' + ${game.reLike}"></button>
                                <button th:onclick="'gameHateUp()'" type="button" class="btn btn-warning" id="btn-hate" th:text="'비추천 ' + ${game.reHate}"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="container p-2 my-2 border">
                        <p class="content" th:utext="${description}"></p>
                        <a class="content" target="_blank" th:href="${game.pageUrl}">E-Shop으로 이동하기</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="container p-2 my-2 border">
                        <p>커뮤니티영역</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="id" th:value="${game.id}">
                    <div class="container p-2 my-2 border">
                        <p th:text="'한줄평 수: ' + ${#lists.size(comments)}"></p>
                        <p th:if="${#lists.isEmpty(comments)}">아직 아무도 한줄평을 남기지 않았어요. 첫 한줄평을 남겨주세요!</p>
                    </div>
                    <div class="container p-2 my-2 border" th:each="comment: ${comments}">
                        <div class="row">
                            <div class="col-md-8">
                                <p th:text="@{'작성자 ' + ${comment.user.nickname}}"></p>
                            </div>
                            <div class="col-md-4">
                                <a style="cursor: pointer;" th:onclick="'update_mode(' + ${comment.id} + ')'" th:if="${session.user != null} and ${comment.user.id} == ${session.user.id}" id="btn-update-mode">
                                    수정
                                </a>
                                <a style="cursor: pointer;" th:onclick="'del(' + ${comment.id} + ')'" th:if="${session.user != null} and ${comment.user.id} == ${session.user.id}" id="btn-update-mode">
                                    삭제
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p th:text="${comment.context}" th:id="'rid' + ${comment.id}"></p>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <button th:onclick="'reLikeUp(' + ${comment.id} + ')'" type="button" class="btn btn-success" id="btn-comment-like" th:text="'추천 ' + ${comment.reLike}"></button>
                                    <button th:onclick="'reHateUp(' + ${comment.id} + ')'" type="button" class="btn btn-warning" id="btn-comment-hate" th:text="'비추천 ' + ${comment.reHate}"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="container p-2 my-2 border">
                        <form>
                            <textarea class="form-control" id="context" placeholder="한줄평"></textarea>
                        </form>
                        <p><br></p>
                        <button type="button" class="btn btn-danger" id="btn-comment">한줄평 남기기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <script src="/js/game.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</th:block>
</html>
