<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/gameList.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 10pt">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav justify-content">
                    <li class="nav-item left-tap">
                        <a style="padding-right:0" class="nav-link white">출시 예정작 제외</a>
                    </li>
                    <li class="nav-item left-tap">
                        <a style="padding-left:6px" class="nav-link white" th:if="${param.list == null}" th:href="@{'/games' + ${queryString.releasedList()}}">
                            <img src="/images/unchecked_box.png" height="14" width="14">
                        </a>
                        <a style="padding-left:6px" class="nav-link white" th:if="${param.list != null && param.list.toString.equals('released')}" th:href="@{'/games' + ${queryString.allList()}}">
                            <img src="/images/checked_box.png" height="14" width="14">
                        </a>
                    </li>
                    <li class="nav-item left-tap">
                        <a style="padding-right:0" class="nav-link white">할인 타이틀만 보기</a>
                    </li>
                    <li class="nav-item left-tap">
                        <a style="padding-left:6px" class="nav-link white" th:if="${param.onSale == null}" th:href="@{'/games' + ${queryString.onSale()}}">
                            <img src="/images/unchecked_box.png" height="14" width="14">
                        </a>
                        <a style="padding-left:6px" class="nav-link white" th:if="${param.onSale != null && param.onSale.toString.equals('on')}" th:href="@{'/games' + ${queryString.offSale()}}">
                            <img src="/images/checked_box.png" height="14" width="14">
                        </a>
                    </li>
                    <li class="nav-item right-tap">
                        <button form="search" class="btn btn-danger" type="submit">Search</button>
                    </li>
                    <li class="nav-item right-tap">
                        <form id="search" action="games">
                            <input class="form-control mr-sm-2" style="background-color: black;" type="text" name="q" placeholder="제목으로 검색하기">
                            <input type="hidden" name="page" value="0">
                            <input th:if="${param.order != null}" type="hidden" name="order" th:value="${queryString.order.get}">
                            <input th:if="${param.onSale != null}" type="hidden" name="onSale" th:value="${queryString.onSale.get}">
                            <input th:if="${param.list != null}" type="hidden" name="list" th:value="${queryString.list.get}">
                        </form>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{'/games' + ${queryString.defaultSort()}}">추천순</a>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{'/games' + ${queryString.sort('viewCount')}}">인기순</a>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{'/games' + ${queryString.sort('releasedDate')}}">최신순</a>
                    </li>
                    <li class="nav-item right-tap">
                        <a class="nav-link white" th:href="@{'/games' + ${queryString.sort('title')}}">이름순</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3" th:each="game: ${info.contents}">
                <div class="card mb-4">
                    <a th:href="@{'/games/' + ${game.id}}">
                        <span th:if="${game.onSale != null && game.onSale.toString().equals('on')}" class="card-sale">Sale!!</span>
                        <img  class="card-img-top" th:src="${game.imgUrl}" alt="Card image">
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <nav aria-label="Page">
                    <ul class="pagination center">
                        <li th:if="${info.nowPage > 4}" class="page-item">
                            <a class="page-link" th:href="@{'/games' + ${queryString.makeQueryString(((info.nowPage / 5) * 5) - 1)}}"><<</a>
                        </li>
                        <li th:each="num : ${#numbers.sequence(0, 4)}" th:classappend="${(info.nowPage % 5) == num} ? active" th:if="${(((info.nowPage / 5) * 5) + 1 + num) <= info.totalPages}" class="page-item">
                            <a class="page-link" th:href="@{'/games' + ${queryString.makeQueryString(((info.nowPage / 5) * 5) + num)}}" th:text="${((info.nowPage / 5) * 5) + 1 + num}"></a>
                        </li>
                        <li th:if="${(info.nowPage / 5) < ((info.totalPages - 1) / 5)}" class="page-item">
                            <a class="page-link" th:href="@{'/games' + ${queryString.makeQueryString(((info.nowPage / 5) * 5) + 5)}}">>></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</th:block>
</html>
