<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/game.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 20pt">
        <div class="row">
            <div style="padding-right: 5px;" class="col-md-5">
                <div class="container p-2 my-1 border">
                    <p style="word-break:keep-all;" class="title" th:text="${game.title}"></p>
                </div>
                <div class="container p-2 my-1 border">
                    <img class="imgSize" th:src="${game.imgUrl}">
                </div>
                <div class="row">
                    <div style="padding-right: 3px;" class="col-md-6">
                        <div class="container p-3 border">
                            <p>&nbsp;발매일</p>
                            <a th:text="${game.releasedDate}"></a>
                        </div>
                    </div>
                    <div style="padding-left: 3px;" class="col-md-6">
                        <div class="container p-3 border">
                            <p>&nbsp;가격</p>
                            <a th:text="${game.price}"></a>
                        </div>
                    </div>
                </div>
                <div class="container p-3 my-1 border">
                    <p>&nbsp;지원언어</p>
                    <a th:text="${game.language}"></a>
                </div>
                    <div class="container p-3 my-1 border">
                        <button th:onclick="'gameLikeUp()'" type="button" class="btn btn-success" id="btn-like" th:text="'추천 ' + ${game.reLike}"></button>
                        <button th:onclick="'gameHateUp()'" type="button" class="btn btn-warning" id="btn-hate" th:text="'비추천 ' + ${game.reHate}"></button>
                </div>
            </div>
            <div style="padding-left: 5px;" class="col-md-7">
                <div class="container p-3 my-1 border">
                    <p style="word-break:keep-all;" class="content" th:utext="${game.description}"></p>
                    <a class="content" target="_blank" th:href="${game.pageUrl}">E-Shop으로 이동하기</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="padding-right: 3px;" class="col-md-3">
                <div class="container p-2 my-2 border">
                    <p>커뮤니티영역</p>
                </div>
            </div>
            <div class="col-md-9">
                <input type="hidden" id="id" th:value="${game.id}">
                <div class="container p-2 my-2 border">
                    <p th:text="'한줄평 수: ' + ${#lists.size(commentList)}"></p>
                    <p th:if="${#lists.isEmpty(commentList)}">아직 아무도 한줄평을 남기지 않았어요. 첫 한줄평을 남겨주세요!</p>
                </div>
                <div class="container p-2 border" th:each="comment: ${commentList}">
                    <div class="row">
                        <div class="col-md-2">
                            <p th:text="${comment.userName}"></p>
                        </div>
                        <div class="col-md-7">
                            <p th:text="${comment.context}" th:id="'rid' + ${comment.id}"></p>
                        </div>
                        <div class="col-md-3">
                            <a style="cursor: pointer;" th:onclick="'update_mode(' + ${comment.id} + ')'" th:if="${session.user != null} and ${comment.userId} == ${session.user.id}" id="btn-update-mode">
                                수정
                            </a>
                            <a style="cursor: pointer;" th:onclick="'del(' + ${comment.id} + ')'" th:if="${session.user != null} and ${comment.userId} == ${session.user.id}">
                                삭제
                            </a>
                            <div>
                                <button th:onclick="'reLikeUp(' + ${comment.id} + ')'" type="button" class="btn btn-success" id="btn-comment-like" th:text="'추천 ' + ${comment.reLike}"></button>
                                <button th:onclick="'reHateUp(' + ${comment.id} + ')'" type="button" class="btn btn-warning" id="btn-comment-hate" th:text="'비추천 ' + ${comment.reHate}"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container p-2 border">
                    <form>
                        <textarea class="form-control" id="context" placeholder="한줄평"></textarea>
                    </form>
                    <p><br></p>
                    <button type="button" class="btn btn-danger" id="btn-comment">한줄평 남기기</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/game.js"></script>
</th:block>
</html>
