<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/gameList.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-top: 10pt">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link white" th:href="@{/game(page=0, size=12, sort='title')}">이름순</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white" th:href="@{/game(page=0, size=12, sort='viewCount,desc', sort='title')}">인기순</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link white" th:href="@{/game(page=0, size=12, sort='score,desc', sort='title')}">평점순</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3" th:each="game: ${gameList}">
                    <div class="card mb-4">
                        <a th:href="@{'/game/' + ${game.id}}">
                            <img  class="card-img-top" th:src="${game.imgUrl}" alt="Card image">
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <nav aria-label="Page">
                        <ul class="pagination center">
                            <li th:if="${page > 0}" class="page-item">
                                <a class="page-link" th:href="@{/game(page=0, sort=${sort}, size=${size})}"><<</a>
                            </li>
                            <li th:if="${page > 4}" class="page-item">
                                <a class="page-link" th:href="@{/game(page=${page - 5}, sort=${sort}, size=${size})}"><</a>
                            </li>
                            <li th:if="${page > 1}" class="page-item">
                                <a class="page-link" th:href="@{/game(page=${page - 2}, sort=${sort}, size=${size})}" th:text="${page - 1}"></a>
                            </li>
                            <li th:if="${page > 0}" class="page-item">
                                <a class="page-link" th:href="@{/game(page=${page - 1}, sort=${sort}, size=${size})}" th:text="${page}"></a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" th:href="@{/game(page=${page}, sort=${sort}, size=${size})}" th:text="${page + 1}"></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/game(page=${page + 1}, sort=${sort}, size=${size})}" th:text="${page + 2}"></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/game(page=${page + 2}, sort=${sort}, size=${size})}" th:text="${page + 3}"></a>
                            </li>
                            <li th:if="${page < 1}" class="page-item">
                                <a class="page-link" th:href="@{/game(page=4, sort=${sort}, size=${size})}">4</a>
                            </li>
                            <li th:if="${page < 2}" class="page-item">
                                <a class="page-link" th:href="@{/game(page=5, sort=${sort}, size=${size})}">5</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</th:block>
</html>
