<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/direct.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 20pt">
        <div style="display: none" id="ko">
            <ul class="list-group list-group-horizontal">
                <a class="list-group-item list-group-item-action list-group-item-dark active">한글 자막</a>
                <a href="javascript:show_lang('jp')" class="list-group-item list-group-item-action list-group-item-dark">일본</a>
                <a th:classappend="${direct.americaUrl} == '' ? disabled" href="javascript:show_lang('us')" class="list-group-item list-group-item-action list-group-item-dark">북미</a>
            </ul>
            <div class="container p-2 my-2 border">
                <div class="videoContainer">
                    <iframe class="videoSize" th:src="${direct.koreaUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div id="jp">
            <ul class="list-group list-group-horizontal">
                <a th:classappend="${direct.koreaUrl} == '' ? disabled" href="javascript:show_lang('ko')" class="list-group-item list-group-item-action list-group-item-dark">한글 자막</a>
                <a class="list-group-item list-group-item-action list-group-item-dark active">일본</a>
                <a th:classappend="${direct.americaUrl} == '' ? disabled" href="javascript:show_lang('us')" class="list-group-item list-group-item-action list-group-item-dark">북미</a>
            </ul>
            <div class="container p-2 my-2 border">
                <div class="videoContainer">
                    <iframe class="videoSize" th:src="${direct.japanUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div style="display: none" id="us">
            <ul class="list-group list-group-horizontal">
                <a th:classappend="${direct.koreaUrl} == '' ? disabled" href="javascript:show_lang('ko')" class="list-group-item list-group-item-action list-group-item-dark">한글 자막</a>
                <a href="javascript:show_lang('jp')" class="list-group-item list-group-item-action list-group-item-dark">일본</a>
                <a class="list-group-item list-group-item-action list-group-item-dark active">북미</a>
            </ul>
            <div class="container p-2 my-2 border">
                <div class="videoContainer">
                    <iframe class="videoSize" th:src="${direct.americaUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <p><br></p>
        <div class="btn-wrap">
            <button th:onclick="'directLikeUp()'" type="button" class="btn btn-success" id="btn-like" th:text="'추천 ' + ${direct.reLike}"></button>
            <button th:onclick="'directHateUp()'" type="button" class="btn btn-warning" id="btn-hate" th:text="'비추천 ' + ${direct.reHate}"></button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" id="id" th:value="${direct.id}">
                <div class="container p-2 my-2 border">
                    <p th:text="'코멘트 수: ' + ${#lists.size(impressionList)}"></p>
                    <p th:if="${#lists.isEmpty(impressionList)}">아직 아무도 소감을 남기지 않았어요. 이번 닌텐도 다이렉트에 대한 소감을 남겨주세요!</p>
                </div>
                <div class="container p-2 my-2 border" th:each="impression: ${impressionList}">
                    <div class="row">
                        <div class="col-md-8">
                            <p th:text="@{'작성자 ' + ${impression.userName}}"></p>
                        </div>
                        <div class="col-md-4">
                            <a style="cursor: pointer;" th:onclick="'update_mode(' + ${impression.id} + ')'" th:if="${session.user != null} and ${impression.userId} == ${session.user.id}" id="btn-update-mode">
                                수정
                            </a>
                            <a style="cursor: pointer;" th:onclick="'del(' + ${impression.id} + ')'" th:if="${session.user != null} and ${impression.userId} == ${session.user.id}">
                                삭제
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p th:text="${impression.context}" th:id="'rid' + ${impression.id}"></p>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <button th:onclick="'reLikeUp(' + ${impression.id} + ')'" type="button" class="btn btn-success" id="btn-impression-like" th:text="'추천 ' + ${impression.reLike}"></button>
                                <button th:onclick="'reHateUp(' + ${impression.id} + ')'" type="button" class="btn btn-warning" id="btn-impression-hate" th:text="'비추천 ' + ${impression.reHate}"></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container p-2 my-2 border">
                    <form>
                        <textarea class="form-control" id="context" placeholder="소감"></textarea>
                    </form>
                    <p><br></p>
                    <button type="button" class="btn btn-danger" id="btn-impression">소감 남기기</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/direct.js"></script>
</th:block>
</html>
