<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/post.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 10pt">
        <div class="row">
            <div class="col-md-1"></div>
            <span class="board-title">자유게시판</span>
        </div>
        <div class="free-board" style="padding-top: 10px;">
            <div class="post-item" style="background-color: #262626; font-size: 14pt;">
                <div class="post-id">
                    <span>글번호</span>
                </div>
                <div class="post-title">
                    <span>제목</span>
                </div>
                <div class="post-nickname">
                    <span>닉네임</span>
                </div>
                <div class="post-created">
                    <span>날짜</span>
                </div>
                <div class="post-viewCount">
                    <span>조회수</span>
                </div>
                <div class="post-like">
                    <span>추천</span>
                </div>
            </div>
            <ul>
                <li class="post-item" th:each="post: ${info.contents}">
                    <div class="post-id">
                        <span th:text="${post.id}"></span>
                    </div>
                    <div class="post-title">
                        <a th:href="@{'/free/' + ${post.id}}">
                            <span th:text="${post.title}"></span>
                        </a>
                    </div>
                    <div class="post-nickname">
                        <a th:href="@{'/users/' + ${post.userId}}">
                            <span th:text="${post.userName}"></span>
                        </a>
                    </div>
                    <div class="post-created">
                        <span th:text="${post.createdDate}"></span>
                    </div>
                    <div class="post-viewCount">
                        <span th:text="${post.viewCount}"></span>
                    </div>
                    <div class="post-like">
                        <span th:text="${post.reLike}"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div style="width: 100%; text-align:center;">
            <div style="width: 80%; text-align:right;">
                <a href="/free/freePostForm" style="font-size: 18pt;">등록</a>
            </div>
        </div>
        <nav aria-label="Page">
            <ul class="pagination center">
                <li th:if="${page > 9}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) - 1}, size=${size})}"><<</a>
                </li>
                <li th:classappend="${(page % 10) == 0} ? active" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${(page / 10) * 10}, size=${size})}" th:text="${((page / 10) * 10) + 1}"></a>
                </li>
                <li th:classappend="${(page % 10) == 1} ? active" th:if="${(((page / 10) * 10) + 2) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 1}, size=${size})}" th:text="${((page / 10) * 10) + 2}"></a>
                </li>
                <li th:classappend="${(page % 10) == 2} ? active" th:if="${(((page / 10) * 10) + 3) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 2}, size=${size})}" th:text="${((page / 10) * 10) + 3}"></a>
                </li>
                <li th:classappend="${(page % 10) == 3} ? active" th:if="${(((page / 10) * 10) + 4) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 3}, size=${size})}" th:text="${((page / 10) * 10) + 4}"></a>
                </li>
                <li th:classappend="${(page % 10) == 4} ? active" th:if="${(((page / 10) * 10) + 5) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 4}, size=${size})}" th:text="${((page / 10) * 10) + 5}"></a>
                </li>
                <li th:classappend="${(page % 10) == 5} ? active" th:if="${(((page / 10) * 10) + 6) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 5}, size=${size})}" th:text="${((page / 10) * 10) + 6}"></a>
                </li>
                <li th:classappend="${(page % 10) == 6} ? active" th:if="${(((page / 10) * 10) + 7) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 6}, size=${size})}" th:text="${((page / 10) * 10) + 7}"></a>
                </li>
                <li th:classappend="${(page % 10) == 7} ? active" th:if="${(((page / 10) * 10) + 8) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 7}, size=${size})}" th:text="${((page / 10) * 10) + 8}"></a>
                </li>
                <li th:classappend="${(page % 10) == 8} ? active" th:if="${(((page / 10) * 10) + 9) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 8}, size=${size})}" th:text="${((page / 10) * 10) + 9}"></a>
                </li>
                <li th:classappend="${(page % 10) == 9} ? active" th:if="${(((page / 10) * 10) + 10) <= info.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 9}, size=${size})}" th:text="${((page / 10) * 10) + 10}"></a>
                </li>
                <li th:if="${(page / 10) < ((info.totalPages - 1) / 10)}" class="page-item">
                    <a class="page-link" th:href="@{/free(page=${((page / 10) * 10) + 10}, size=${size})}">>></a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>
</html>
