<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/post.css" rel="stylesheet">
    <link href="/css/postForm.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 10pt">
        <div class="row">
            <div class="col-md-1"></div>
            <a th:href="@{'/board/' + ${board}(page=0, size=30)}">
                <span th:if="${board.toString().equals('free')}" class="board-title">자유게시판</span>
                <span th:if="${board.toString().equals('multi')}" class="board-title">멀티-내전게시판</span>
            </a>
        </div>
        <input th:if="${board.toString().equals('free')}" type="hidden" th:id="board-id" value="free">
        <input th:if="${board.toString().equals('multi')}" type="hidden" th:id="board-id" value="multi">
        <div class="input-container">
            <input type="hidden" id="board" th:value="${board}">
            <input type="hidden" id="id" th:value="${post.id}">
            <div style="width:100%">
                <input class="input-title" type="text" id="title" maxlength="50" th:value="${post.title}">
            </div>
            <div style="width:100%;">
                <textarea class="input-context" id="context" spellcheck = "false" th:text="${post.context}"></textarea>
            </div>
            <div class="button-container">
                <input class="input-button" type="button" onClick="history.go(-1)" value="취소">
                <input class="input-button" type="button" style="margin-right: 10px;" id="btn-modify" value="수정">
            </div>
        </div>
    </div>
    <script src="/js/postForm.js"></script>
</th:block>
</html>
