<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/post.css" rel="stylesheet">
    <link href="/css/postForm.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 10pt">
        <a href="/multi?page=0&size=30">
            <span class="board-title">멀티-내전게시판</span>
        </a>
        <input  type="hidden" id="board" value="multi">
        <div class="input-container">
            <div style="width:100%">
                <input class="input-title" type="text" id="title" maxlength="50">
            </div>
            <div style="width:100%;">
                <textarea class="input-context" id="context" spellcheck = "false"></textarea>
            </div>
            <div class="button-container">
                <input class="input-button" type="button" onClick="history.go(-1)" value="취소">
                <input class="input-button" type="button" style="margin-right: 10px;" id="btn-create" value="등록">
            </div>
        </div>
    </div>
    <script src="/js/postForm.js"></script>
</th:block>
</html>
