<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>

</head>
<th:block layout:fragment="content">
    <div class="main-container" style="padding-top: 10pt">
        <input type="hidden" id="boardNo" value="2">
        <label for="title">제목</label>
        <input type="text" id="title" maxlength="50">
        <label for="context">내용</label>
        <textarea id="context"></textarea>
        <input type="button" id="btn-create" value="등록">
    </div>
    <script src="/js/postForm.js"></script>
</th:block>
</html>
