<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/user.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container">
        <div class="row">
            <div class="col-md-3">
                <div class="p-2 my-2">
                    <div class="btn-group-vertical">
                        <button type="button" onclick="location.href='/user/profile'" class="btn btn-dark">내정보 수정</button>
                        <button th:if="${session.user.registrationId.toString().equals('NINDA')}" type="button" onclick="location.href='http://localhost:8080/user/password'" class="btn btn-dark">비밀번호 변경</button>
                        <button type="button" onclick="location.href='/user/post?page=0'" class="btn btn-dark">내가 작성한 글</button>
                        <button type="button" onclick="location.href='/user/oneLineComment?page=0'" class="btn btn-dark active">내가 작성한 한줄평</button>
                        <button type="button" onclick="location.href='/user/book'" class="btn btn-dark">북마크</button>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="container p-3 border" th:if="${#lists.isEmpty(info.contents)}">
                    <a>아직 작성하신 한줄평이 없어요.</a>
                </div>
                <form>
                    <div class="container p-3 border" th:each="oneLineComment: ${info.contents}">
                        <a class="game_title" th:href="@{'/games/' + ${oneLineComment.gameId}}" th:text="${oneLineComment.gameTitle}"></a>
                        <p class="date" th:text="${oneLineComment.createdDate}"></p>
                        <a th:text="${oneLineComment.context}"></a>
                    </div>
                </form>
                <nav aria-label="Page">
                    <ul class="pagination center">
                        <li th:if="${info.nowPage > 4}" class="page-item">
                            <a class="page-link" th:href="@{/user/oneLineComment(page=${((info.nowPage / 5) * 5) - 1}, size=${info.size})}"><<</a>
                        </li>
                        <li th:each="num : ${#numbers.sequence(0, 4)}" th:classappend="${(info.nowPage % 5) == num} ? active" th:if="${(((info.nowPage / 5) * 5) + num + 1) <= info.totalPages}" class="page-item">
                            <a class="page-link" th:href="@{/user/oneLineComment(page=${((info.nowPage / 5) * 5) + num}, size=${info.size})}" th:text="${((info.nowPage / 5) * 5) + num + 1}"></a>
                        </li>
                        <li th:if="${(info.nowPage / 5) < ((info.totalPages - 1) / 5)}" class="page-item">
                            <a class="page-link" th:href="@{/user/oneLineComment(page=${((info.nowPage / 5) * 5) + 5}, size=${info.size})}">>></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="/js/profile.js"></script>
</th:block>
</html>
