<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/user.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container">
        <div class="row">
            <div class="col-md-3">
                <div class="p-2 my-2">
                    <div class="btn-group-vertical">
                        <button type="button" onclick="location.href='/user/profile'" class="btn btn-dark">내정보 수정</button>
                        <button th:if="${#authentication.principal.attributes.registrationId.toString().equals('NINDA')}" type="button" onclick="location.href='http://localhost:8080/user/password'" class="btn btn-dark active">비밀번호 변경</button>
                        <button type="button" onclick="location.href='/user/post?page=0'" class="btn btn-dark">내가 작성한 글</button>
                        <button type="button" onclick="location.href='/user/oneLineComment?page=0'" class="btn btn-dark">내가 작성한 한줄평</button>
                        <button type="button" onclick="location.href='/user/favorite'" class="btn btn-dark">내가 관심있는 게임</button>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <form>
                    <div class="container p-3 border">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="name">현재 비밀번호</p>
                            </div>
                            <div class="col-md-9">
                                <input id="password" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="container p-3 border">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="name">새 비밀번호</p>
                            </div>
                            <div class="col-md-9">
                                <input id="newPassword1" type="password">
                                <p></p>
                                <span class="pwd1_blank"><br></span>
                                <span class="pwd1_check_success">사용가능한 비밀번호입니다.</span>
                                <span class="pwd1_check_fail">비밀번호는 8~16자의 대/소문자 및 숫자의 조합으로 이루어져야 합니다.</span>
                            </div>
                        </div>
                    </div>
                    <div class="container p-3 border">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="name">가입일</p>
                            </div>
                            <div class="col-md-9">
                                <input id="newPassword2" type="password">
                                <p></p>
                                <span class="pwd2_blank"><br></span>
                                <span class="pwd2_check_success">비밀번호가 일치합니다.</span>
                                <span class="pwd2_check_fail">비밀번호가 일치하지 않습니다.</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-3" style="display:inline-block; text-align:right; width:100%">
                        <input type="button" class="btn btn-dark" id="btn-change" value="수정">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/changePassword.js"></script>
</th:block>
</html>
