<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/user.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container">
        <div class="row">
            <div class="col-md-3">
                <div class="p-2 my-2">
                    <div class="btn-group-vertical">
                        <button type="button" onclick="location.href='/user/profile'" class="btn btn-dark active">내정보 수정</button>
                        <button th:if="${#authentication.principal.attributes.registrationId.toString().equals('NINDA')}" type="button" onclick="location.href='/user/password'" class="btn btn-dark">비밀번호 변경</button>
                        <button type="button" onclick="location.href='/user/post?page=0'" class="btn btn-dark">내가 작성한 글</button>
                        <button type="button" onclick="location.href='/user/oneLineComment?page=0'" class="btn btn-dark">내가 작성한 한줄평</button>
                        <button type="button" onclick="location.href='/user/favorite'" class="btn btn-dark">내가 관심있는 게임</button>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <form>
                    <div class="container p-3 border">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="name">닉네임</p>
                            </div>
                            <div class="col-md-9">
                                <input id="nickname" type="text" th:value="${user.nickname}">
                                <input id="pre_nickname" type="hidden" th:value="${user.nickname}">
                                <p></p>
                                <span class="nickname_blank"><br></span>
                                <span class="nickname_check_success">사용가능한 닉네임입니다.</span>
                                <span class="nickname_check_fail">닉네임은 2~12자로 이루어져야 합니다.</span>
                                <span class="nickname_check_duplicated">이미 존재하는 닉네임입니다.</span>
                            </div>
                        </div>
                    </div>
                    <div class="container p-3 border">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="name">자기소개</p>
                            </div>
                            <div class="col-md-9">
                                <textarea class="introduction" id="introduction" th:text="${user.introduction}" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container p-3 border">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="name">가입일</p>
                            </div>
                            <div class="col-md-9">
                                <a id="registrationDate" th:text="${user.registrationDate}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="p-3" style="display:inline-block; text-align:right; width:100%">
                        <input type="button" class="btn btn-dark" id="btn-update" value="수정">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/profile.js"></script>
</th:block>
</html>
