<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="navbarFragment">
        <nav class="navbar navbar-expand-sm sticky-top">
            <ul class="navbar-nav main-container">
                <li class="nav-item left-tap">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item left-tap">
                    <a class="nav-link" href="/games?page=0&size=12&sort=title&q=&list=all">게임 전체보기</a>
                </li>
                <li class="nav-item left-tap">
                    <a class="nav-link" href="/directs">닌텐도 다이렉트</a>
                </li>
                <li class="nav-item left-tap dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">커뮤니티</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/board?page=0&size=20">자유게시판</a>
                        <a class="dropdown-item" href="/friend">친구코드 게시판</a>
                    </div>
                </li>
                <li class="nav-item left-tap">
                    <a class="nav-link" href="/api/gameCrawl">게임 업데이트(어드민)</a>
                </li>
                <li th:if = "${session.user == null}" class="nav-item right-tap">
                    <a class="nav-link" href="/signin">로그인</a>
                </li>
                <li th:if = "${session.user != null}" class="nav-item right-tap">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
                <li th:if = "${session.user != null}" class="nav-item right-tap">
                    <a class="nav-link" href="/user/profile" th:text = "${session.user.nickname}"></a>
                </li>
            </ul>
        </nav>
    </th:block>
</html>