<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="navbarFragment">
    <nav class="navbar navbar-expand-sm sticky-top">
        <ul class="navbar-nav main-container">
            <li class="nav-item left-tap">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item left-tap">
                <a class="nav-link" href="/games?page=0">게임 전체보기</a>
            </li>
            <li class="nav-item left-tap">
                <a class="nav-link" href="/directs">닌텐도 다이렉트</a>
            </li>
            <li class="nav-item left-tap dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">커뮤니티</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/board/free?page=0">자유</a>
                    <a class="dropdown-item" href="/board/multi?page=0">멀티-내전</a>
                    <a class="dropdown-item" href="/board/friendCode?page=0">친구코드교환</a>
                </div>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item right-tap">
                <a class="nav-link" href="/signin">로그인</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item right-tap">
                <a class="nav-link" href="/logout">로그아웃</a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_GUEST', 'ROLE_USER')" class="nav-item right-tap">
                <a class="nav-link" href="/user/profile" th:text = "${session.name}"></a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item right-tap">
                <a class="nav-link" href="/admin/main">어드민페이지</a>
            </li>
        </ul>
    </nav>
</th:block>
</html>