.imgSize {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.content {
    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-left: 10pt;
    margin-right: 20pt;
}

p {
    margin-bottom: 0;
}

.btn-danger {
    background-color: #e60012;
    border-color: #e60012;
}