.bg-color {
    background-color: #0e1015;
    overflow-x: hidden;
}

#content {
    background-color: #0e1015;
}
.col-md-8 {
    font-family: 'GmarketSans', sans-serif;
}
.sticky-footer {
    margin-top: 2%;
    background-color: #0e1015;
    color: white;
    font-family: 'GmarketSans', sans-serif;
}
.navbar {
    font-family: 'GmarketSans', sans-serif;
    background-color: #e60012;
    margin-top: 1%;
    margin-bottom: 5pt;
}
.navbar-nav {
    line-height: 15pt;
}
.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

.my-auto {
    background-color: #0e1015
}