.border {
    border: 1px solid #40444f!important
    border-radius: 3px
}

.mini-title {
    font-size: 14pt;
    text-align: left;
    border-bottom: 1px solid #575757;
}

.twitter-container {
    position: absolute;
    top: 300px;
    left: 1600px;
}

.slide-title {
    font-size: 15pt;
}

.carousel-inner {
    text-align: center;
    margin: 0 auto;
    height:440px;
}
.carousel-item {
    height:440px;
}

.carousel-item img {
    height: 300px;
}

a {
    color: #dddddd;
}

a:hover {
    text-decoration: none;
    color: #dddddd;
}

.post-item {
    color: #dddddd;
    font-size: 11pt;
}

.comment-item {
    color: #dddddd;
    font-size: 12pt;
    white-space: break-spaces!important;
    height: 54px;
    display: -webkit-box!important;
    -webkit-line-clamp: 3;
    line-height: 18px;
    -webkit-box-orient: vertical;
}

.post-item:hover {
    color: #838383;
}

.textover {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.hot-title {
    color: #ffcdcd;
    font-size: 11pt;
    margin-bottom: 3px;
}

.hot-title:hover {
    color: #ff9b9b;
}
