.border {
    border: 1px solid #40444f!important
    border-radius: 3px
}

.mini-title {
    font-size: 14pt;
}

.carousel-inner {
    text-align: center;
    margin: 0 auto;
    height:440px;
}
.carousel-item {
    height:440px;
}

.carousel-item img {
    height: 300px;
}

a:hover {
    text-decoration: none;
}

.hot-title {
    text-overflow: ellipsis;
    width: 100%;
    color: #ffcdcd;
    font-size: 13pt;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    margin-bottom: 4px;
}