.board-title {
    color: #5db8ff;
    font-size: 30pt;
    font-family: 'BMHANNA_11yrs', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #dddddd;
}

.post-head {
    border-bottom: 1px solid #575757;
    display: inline-block;
    width: 100%;
}

.post-title {
    font-size: 13pt;
    color: white;
    padding-bottom: 5px;
}

.post-user {
    font-size: 10pt;
    width: fit-content;
    padding-right: 10px;
    border-right: 1px solid #575757;
    float: left;
    color: #dddddd;
    font-weight: 500;
}

.post-time {
    font-size: 10pt;
    width: fit-content;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
    color: #575757;
}

.post-time:hover {
    color : #575757;
}

.post-context {
    padding-top: 30px;
    color: #dddddd;
    font-weight: 500;
    display: block;
    width: 70%;
    word-break: break-all;
}