h2 {
    font-size: 40pt;
}

.login-container {
    width: 700px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: black;
    text-align: center;
    padding: 50px;
    color: #dddddd;
}

.login-context {
    border: 1px solid #dddddd;
    background-color: black;
    color: #dddddd;
    width: 80%;
    margin-top : 5px;
    margin-bottom : 5px;
    padding: 4px;

}

.login-button {
    width: 80%;
    display: inline-block;
    margin-top : 5px;
    margin-bottom : 5px;
}

.btnSubmit{
    font-weight: 400;
    width: 100px;
    float: right;
    color: #dddddd;
    background-color: #313131;
    border: 2px solid #606060;
    border-radius: 5px;
    margin: auto;
}

.btnForgetPwd{
    color: #dddddd;
    font-weight: 400;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color: white;
}

.signup-container {
    display: inline-block;
    text-align: left;
    width: 100%;
}

label {
    text-align: left;
    width:100%;
    margin-bottom: 0;
    font-size: 15pt;
}

.signup-context {
    background-color: black;
    border: 1px solid #dddddd;
    width: 100%;
    color: #dddddd;
    padding: 4px;
}

.chk {
    font-size: 12pt;
}

.email_blank{
}

.pwd1_blank{
}

.pwd2_blank{
}

.family_name_blank{
}

.given_name_blank{
}

.birthday_blank{
}

.nickname_blank{
}

/* 중복이메일 존재 X*/
.email_check_success{
    color: #C0FFB0;
    display: none;
}

/* 중복이메일 존재 O*/
.email_check_duplicated{
    color: #FFBEB0;
    display: none;
}

/* 이메일 유효성검사 실패*/
.email_check_fail{
    color: #FFBEB0;
    display: none;
}

/* 비밀번호 유효성검사 성공*/
.pwd1_check_success{
    color: #C0FFB0;
    display: none;
}

/* 비밀번호 유효성검사 실패*/
.pwd1_check_fail{
    color: #FFBEB0;
    display: none;
}

/* 비밀번호 확인 유효성검사 성공*/
.pwd2_check_success{
    color: #C0FFB0;
    display: none;
}

/* 비밀번호 확인 유효성검사 실패*/
.pwd2_check_fail{
    color: #FFBEB0;
    display: none;
}

/* 닉네임 유효성검사 성공*/
.nickname_check_success{
    color: #C0FFB0;
    display: none;
}

/* 닉네임 유효성검사 실패*/
.nickname_check_fail{
    color: #FFBEB0;
    display: none;
}