.btn-dark {
    background-color: #f0f0f0;
    border-color: #b5b5b5;
    color: black;
}

.btn-group-vertical {
    width: 100%;
}

#content {
    font-family: 'GmarketSans', sans-serif;
}

.name {
    color: white;
    font-size: 14pt;
}

input {
    background-color: #0e1015;
    border-color: #dddddd;
    color: #dddddd;
}

.introduction {
    background-color: #0e1015;
    border-color: #dddddd;
    color: #dddddd;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 130px;
    resize: none;
}

.nickname_blank{
}

/* 닉네임 유효성검사 성공*/
.nickname_check_success{
    color: #C0FFB0;
    display: none;
}

/* 닉네임 유효성검사 실패*/
.nickname_check_fail{
    color: #FFBEB0;
    display: none;
}

/* 닉네임 중복존재 O*/
.nickname_check_duplicated{
    color: #FFBEB0;
    display: none;
}

.pwd1_blank{
}

.pwd2_blank{
}

/* 비밀번호 유효성검사 성공*/
.pwd1_check_success{
    color: #C0FFB0;
    display: none;
}

/* 비밀번호 유효성검사 실패*/
.pwd1_check_fail{
    color: #FFBEB0;
    display: none;
}

/* 비밀번호 확인 유효성검사 성공*/
.pwd2_check_success{
    color: #C0FFB0;
    display: none;
}

/* 비밀번호 확인 유효성검사 실패*/
.pwd2_check_fail{
    color: #FFBEB0;
    display: none;
}

.game_title {
    color: #77b9ff;
}
.post_title {
    color: #77b9ff;
}
.date {
    color: #5f5f5f;
    font-size: 10pt;
}

.date:hover {
    color: #5f5f5f;
}

a:hover {
    text-decoration: none;
}

