<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/index.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container p-2 my-2 border">
                <div class="row">
<!--                    <div class="col-md-6">-->
<!--                        <p class="title">  닌텐도 다이렉트 E3 2021</p>-->
<!--                        <p>북미</p>-->
<!--                        <iframe width="560" height="315" src="https://www.youtube.com/embed/IH7QtiX1I7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                        <p><br>일본</p>-->
<!--                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CD9y3cNJI1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--                    </div>-->
                </div>

            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</th:block>
</html>
