<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/index.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="main-container">
        <div class="row">
            <div class="col-md-9">
                <div class="container p-2 my-2 border">
                    <div class="title">
                        <a>NEW 타이틀</a>
                    </div>
                    <div th:if="${#lists.size(newGameList) > 0}" id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li th:if="${#lists.size(newGameList) > 0}" data-target="#demo" data-slide-to="0" class="active"></li>
                            <li th:if="${#lists.size(newGameList) > 1}" data-target="#demo" data-slide-to="1"></li>
                            <li th:if="${#lists.size(newGameList) > 2}" data-target="#demo" data-slide-to="2"></li>
                            <li th:if="${#lists.size(newGameList) > 3}" data-target="#demo" data-slide-to="3"></li>
                            <li th:if="${#lists.size(newGameList) > 4}" data-target="#demo" data-slide-to="4"></li>
                        </ul>

                        <div class="carousel-inner">
                            <div th:each="num : ${#numbers.sequence(0, 4)}" th:if="${#lists.size(newGameList) > num}" class="carousel-item active center">
                                <a th:href="@{'/games/' + ${newGameList[num].id}}">
                                    <img th:src="${newGameList[num].imgUrl}" th:alt="${newGameList[num].title}">
                                    <div class="carousel-caption">
                                        <h3 th:text="${newGameList[num].title}"></h3>
                                        <p th:text="${newGameList[num].releasedDate} + ' 발매'"></p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="container p-3 my-2 border">
                            <div class="title mini-title">
                                <a>최근 작성된 한줄평</a>
                            </div>
                            <div th:each="comment : ${commentList}">
                                <a style="color: #acd4ff" class="textover" th:text="${comment.gameTitle}" th:href="@{'/games/' + ${comment.gameId}}"></a>
                                <p class="comment-item textover" th:text="${comment.context}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container p-3 my-2 border">
                            <div class="title mini-title">
                                <a href="/board/free?page=0">자유게시판</a>
                            </div>
                            <div th:each="freePost : ${freeBoard}">
                                <a th:href="@{'/board/free/' + ${freePost.postId}(page=0)}" class="post-item textover" th:text="${freePost.postTitle}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container p-3 my-2 border">
                            <div class="title mini-title">
                                <a href="/board/multi?page=0">멀티-내전게시판</a>
                            </div>
                            <div th:each="multiPost : ${multiBoard}">
                                    <a th:href="@{'/board/multi/' + ${multiPost.postId}(page=0)}" class="post-item textover" th:text="${multiPost.postTitle}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="container p-4 my-2 border">
                    <p class="title">Hot 타이틀</p>
                    <div th:each="hotGame,num : ${hotGameList}">
                        <a th:href="@{'/games/' + ${hotGame.id}}">
                            <p class="textover hot-title" th:text="${num.count} + '위 ' + ${hotGame.title}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</th:block>
</html>
