<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <link href="/css/sign.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 login-form-1">
                <h2>Kora에 로그인하세요!</h2>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="이메일"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="비밀번호"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="로그인" />
                </div>
                <div class="form-group">
                    <a href="/signup" class="btnForgetPwd">처음 방문하셨나요? Kora에 회원가입하세요!</a>
                </div>
                <div class="form-group">
                    <a href="#" class="btnForgetPwd">비밀번호를 잊어버리셨나요?</a>
                </div>
                <div class="form-group">
                    <a href="/">
                        <img class="img-fluid" src="/images/kakao_login_btn.png">
                    </a>
                </div>
                <div class="form-group">
                    <a href="/oauth2/authorization/google">
                        <img class="img-fluid" src="/images/google_login_btn.png">
                    </a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</th:block>
</html>
